@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.showcase {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background: #111;
  color: #fff;
  z-index: 2; /* showcase section will always displayed in front*/
  transition: 1.2s;
}

.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3e3f3f;
  mix-blend-mode: overlay;
}

.showcase header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 40px 100px;
  width: 100%;
  z-index: 1000;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.toggle-open a img {
  width: 45px;
  height: 45px;
  filter: invert(1);
}

.toggle {
  position: relative;
  width: 60%;
  height: 60px;
  background: url("https://www.flaticon.com/svg/vstatic/svg/3388/3388797.svg?token=exp=1618343600~hmac=f9fbbf157ae08038fb3c40397dc95ef6");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url("https://www.flaticon.com/svg/vstatic/svg/61/61155.svg?token=exp=1618330568~hmac=25c4514bbc3fbddad563daaf929be274");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.content {
  position: relative;
  z-index: 10;
}

.content h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  /* text-transform: uppercase; */
}

.content h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  /* text-transform: uppercase; */
}

.content p {
  margin: 20px 0;
  font-size: 1.1em;
  font-weight: 400;
  max-width: 700px;
}

.content a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 30px;
  background: #fff;
  font-size: 1em;
  color: #000;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}

.content a:hover {
  letter-spacing: 6px;
}

.social {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  z-index: 10;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15);
}

.social li a img {
  width: 100px;
  height: 100px;
}

/* .menu { */
/* position: absolute; */
/* display: flex; */
/* justify-content: center; horizontally */
/* align-items: center; vertically */
/* top: 0;
  right: 0;
  width: 300px;
  height: 100%;
} */

/* .menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: #3e3f3f;
} */

/* page responsiveness */
@media (max-width: 891px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
