@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.showcase {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background: #111;
  color: #fff;
  z-index: 2; /* showcase section will always displayed in front*/
}

.menu {
  /* display: none; */
}
