@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.showcase {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background: #111;
  color: #fff;
  z-index: 2; /* showcase section will always displayed in front*/
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  /* background: url("https://www.flaticon.com/svg/vstatic/svg/2099/2099043.svg?token=exp=1618329526~hmac=530bbd6a4b3bcd5460c35bd14cd0a0fd"); add url for hamburger icon */
  background: url("https://www.flaticon.com/svg/vstatic/svg/1828/1828850.svg?token=exp=1618329419~hmac=341a5df618f7c3b4550ef47d30e7c838");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
